//*MAIN
body {
  margin: 0;
  width: 100vw;
  font-family: 'Monaco', serif;
  background-color: #1f1f1f;
  overflow: hidden;
}

// .module {
//   cursor: url('path-to-image.png'), auto;
// }

//* HEADING
.heading {
  background-color: white;
}
.heading-container {
  background-color: #0f0f0f;
  border-radius: 12px 12px 0 0;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #1f1f1f;
}
.traffic-light {
  padding-left: 10px;
  width: 60px;
  height: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  div {
    border-radius: 50%;
    width: 10px;
    height: 10px;
  }
}
.traffic-light div:first-child {
  background-color: red;
  border: 1px solid darkred;
}
.traffic-light div:nth-child(2) {
  background-color: orange;
  border: 1px solid #db7b1a;
}
.traffic-light div:last-child {
  background-color: green;
  border: 1px solid darkgreen;
}

.searchbar-container {
  display: flex;
  width: 500px;
  height: 100%;
  align-items: center;
}

.arrows {
  margin-right: 10px;
  i {
    padding: 2px;
    color: #3f3f3f;
  }
}

.searchbar {
  background-color: #1f1f1f;
  border-radius: 5px;
  border: 1px solid #3f3f3f;
  width: 400px;
  height: 70%;
  color: #6f6f6f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchbar,
p {
  font-size: 12px;
  margin: 0;
}

.searchbar i {
  transform: scaleX(-1);
  margin-right: 5px;
}

.fake-layout {
  width: 60px;
  height: 30px;
}

//* MAIN BODY
.main-body {
  display: flex;
}

.first-vs-panel {
  width: 40px;
  background-color: #0f0f0f;
  border: 1px solid #1f1f1f;
  height: calc(100vh - 30px);
}

.second-vs-panel {
  width: 200px;
  background-color: #0f0f0f;
  border: 1px solid #1f1f1f;
  color: white;
  font-size: 11px;
}

.third-vs-panel {
  width: calc(100% - 240px);
}

//* NAVBAR
.nav {
  background-color: #0f0f0f;
  margin: 0;
}
.nav ul {
  margin: 0;
  display: flex;
  padding: 0;
}

.nav li {
  list-style: none;
  width: 120px;
  border: solid 1px #1f1f1f;
  height: 25px;
  position: relative;
}

.nav span {
  position: absolute;
  right: 0;
  height: 100%;
  margin-right: 8px;
}

.nav i {
  font-size: 10px;
  margin: auto;
}

.nav li a {
  color: white;
  font-size: 13px;
  text-decoration: none;
  padding-left: 8px;
}

.nav li:hover {
  background-color: #1f1f1f;
  color: white;
}

// * CODE SECTION
.code-section {
  width: 100%;
  height: calc(100vh - 55px);
  overflow-y: auto;
  pointer-events: visible;
}

.code-image {
  width: 700px;
  position: absolute;
  z-index: -1;
  opacity: 0.2;
}

.react-code {
  left: 55%;
  top: 50%;
}

.python-code {
  left: 30%;
  top: 90%;
}

.main-title {
  z-index: 1;
  color: white;
  width: 90%;
  margin: auto;
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
  font-size: 27px;
  text-shadow: 2px 2px 5px black;
  height: calc(100vh - 155px);
}

.headshot {
  width: 200px;
  border-radius: 50%;
  box-shadow: 2px 2px 30px black;
}

.section-box {
  width: 80%;
  color: #9f9f9f;
  margin: 100px auto;
  background-color: #1f1f1f;
  border: 2px solid #3f3f3f;
  font-weight: 100;
  font-size: 12px;
  box-shadow: 1px 1px 20px #0f0f0f;
}

.section-title {
  height: 20px;
  border-bottom: 1px solid #3f3f3f;
  padding: 5px 7px;
}

.section-text {
  padding: 10px;
  line-height: 25px;
}

.component {
  position: sticky;
  top: 0;
}

// SKILLS SECTION
.skills-title {
  padding: 5px;
}
.skill-subsection {
  margin: 5px 0;
}
.skills-icons {
  margin-left: 10px;
}
.skill {
  font-size: 13px;
  display: flex;
  margin: 4px 0;

  i {
    margin: 0 10px;
  }
}

.hidden {
  display: none;
}

.rotate-left {
  transform: rotate(-90deg);
  transition: transform 0.3s ease;
}
.rotate-right {
  transform: rotate(90deg);
  transition: transform 0.3s ease;
}

// * EXPERIENCE
.company-image {
  width: 65px;
  margin-right: 10px;
}
.company-header {
  display: flex;
  align-items: center;
  padding: 10px 0;
}
.company-title {
  font-size: 15px;
}
.experience-arrow {
  padding: 20px;
  font-size: 20px;
}

// * PROJECTS
.projects-box {
  display: flex;
}
.project-languages {
  border-right: 1px solid #3f3f3f;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  div:first-child {
    padding: 10px;
  }
}
.skill-filter {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100px;
  margin: 5px;
  :first-child {
    font-size: 30px;
  }
  div {
    margin: 5px;
  }
}

.project {
  display: flex;
  align-items: center;
}
.project-title {
  margin: 10px 0;
}
.project-link {
  font-size: 20px;
  color: #9f9f9f;
  text-decoration: none;
}
.project-icons {
  display: flex;
}
.project-icon-container {
  padding: 0 10px;
  text-align: center;
  div {
    font-size: 10px;
  }
}
.project-icon {
  width: 30px;
  font-size: 30px;
}
.project-preview {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  padding: 10px;
}
.div-project-preview {
  background-position: center;
  background-size: 280px 150px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 10px;
}
.preview-button {
  border: 1px solid #3f3f3f;
  font-size: 12px;
  padding: 5px 10px;
  color: #9f9f9f;
  margin: 10px 0;
  width: 60px;
  text-align: center;
}
.preview-button:hover {
  background-color: #9f9f9f;
  color: #1f1f1f;
}
