@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
//*MAIN
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Grape Nuts', cursive;
  // overflow-x: hidden;
  // overflow-y: visible;
}
html {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: #0f2c09;
}

body {
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
}

//* SCROLL ANIMATION
.sky {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: -5;
  left: 0;
}
.daysky {
  background: rgb(51, 178, 237);
  background: linear-gradient(
    137deg,
    rgba(51, 178, 237, 1) 0%,
    rgba(197, 255, 247, 1) 100%
  );
}
.sunsetsky {
  background: rgb(246, 201, 71);
  background: linear-gradient(
    0deg,
    rgba(246, 201, 71, 1) 44%,
    rgba(236, 60, 102, 1) 74%,
    rgba(152, 53, 154, 1) 100%
  );
}
.background-images {
  z-index: -6;
  overflow-x: hidden;
}
.content {
  z-index: 100;
}

.cloud1 {
  width: 570px;
  position: absolute;
  top: 0;
  left: 0%;
  z-index: -4;
}
.cloud2 {
  width: 430px;
  position: absolute;
  top: 200px;
  left: 41%;
  z-index: -3;
}
.front-leaf {
  transform: rotate(-27deg);
  position: absolute;
  right: -15%;
  top: -80px;
  width: 66%;
}
.leaf-2 {
  position: absolute;
  left: 0;
  top: -60px;
  width: 50%;
}

.sea {
  position: absolute;
  width: 100%;
  top: 400px;
  left: 0;
  height: 400px;
  z-index: -2;
}
.beach {
  position: absolute;
  width: 100%;
  left: 0;
}
.sunsetsea {
  filter: hue-rotate(-20deg);
}

.sun {
  position: absolute;
  right: -90px;
  top: -90px;
  width: 500px;
  height: auto;
  z-index: -1;
}

//* PHONE BACKGROUND
.phone-background {
  display: none;
  overflow-x: hidden;
}
.phone-sky {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: -5;
  left: 0;
}

.phone-sea {
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: -3;
}
.phone-leaf1 {
  position: fixed;
  height: 160vh;
  top: -160px;
  left: 55%;
  transform: rotate(-20deg);
  z-index: -1;
}
.phone-leaf2 {
  position: fixed;
  height: 110vh;
  top: -40px;
  right: 40%;
  transform: rotate(-50deg);
  z-index: -2;
}

//* NAVBAR
#menu {
  z-index: 2;
}

#menu-bar {
  width: 60px;
  height: 60px;
  margin: 30px 0 20px 20px;
  cursor: pointer;
  position: fixed;
}

.bar {
  height: 7px;
  width: 100%;
  background-color: white;
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
}

#bar1 {
  transform: translateY(-6px);
}

#bar3 {
  transform: translateY(6px);
}

.nav {
  transition: 0.3s ease;
  display: none;
}

.nav ul {
  margin-top: 100px;
  padding: 0 22px;
  position: fixed;
}

.nav li {
  list-style: none;
  padding: 12px 0;
}

.nav li a {
  color: white;
  font-size: 40px;
  text-decoration: none;
}

.nav li a:hover {
  font-weight: bold;
}
.nav li:hover {
  transform: scale(1.2);
}

.menu-bg,
#menu {
  top: 0;
  left: 0;
  position: absolute;
}

.menu-bg {
  z-index: 1;
  width: 850px;
  height: 100vh;
  left: -850px;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.3s ease;
  position: fixed;
}

.change {
  display: block;
}

.change .bar {
  background-color: white;
}

.change #bar1 {
  transform: translateY(7px) rotateZ(-45deg);
}

.change #bar2 {
  opacity: 0;
}

.change #bar3 {
  transform: translateY(-6px) rotateZ(45deg);
}

.change-bg {
  left: -280px;
  transform: rotate(100deg);
  // width: 400px;
  // height: 110vh;
}

//* CONTENT
.title {
  font-size: 70px;
  position: absolute;
  line-height: 65px;
  top: 100px;
  width: 100%;
  color: #081a05;
}

.contact {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: auto;
  div {
    margin: 0 50px;
  }
  a {
    color: #081a05;
  }
  div:hover {
    transform: scale(1.2);
  }
}
.headings,
.title,
.centered-text {
  text-align: center;
}

.left {
  text-align: left;
  flex-direction: row;
}
.right {
  text-align: right;
  flex-direction: row-reverse;
}
.arrow {
  padding-top: 50px;
}
#about {
  padding-top: 40px;
  margin-top: 660px;
  width: 80%;
  max-width: 900px;
  color: #081a05;
  p {
    font-size: 25px;
  }
}
h2 {
  font-size: 40px;
}
section {
  margin: auto;
}

#skills {
  padding-top: 40px;
  padding-bottom: -10px;
  max-width: 900px;
  width: 90%;
  color: #081a05;
}
.skills-icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  div {
    width: 100px;
    height: 140px;
    text-align: center;
    i {
      font-size: 70px;
    }
  }
}
.project-border {
  width: 100%;
  overflow-x: hidden;
}
.border-bottom {
  transform: rotate(180deg);
  margin: 0;
  overflow-x: hidden;
}

#projects {
  width: 100%;

  h2 {
    color: white;
    margin: 0;
  }
  .green-background {
    background-color: #0f2c09;
    margin-top: -30px;
  }
}
.project {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  color: white;
}
.links {
  display: flex;
  justify-content: space-around;
}
.each-project {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  margin: 30px 0px;

  .project-text {
    width: 50%;
    padding: 5px;
    a {
      color: white;
      font-size: 30px;
      padding: 10px;
      text-decoration: none;
      border: 2px solid white;
      border-radius: 10px;
    }
    .link:hover {
      background-color: white;
      color: #0f2c09;
    }
    .languages {
      font-size: 35px;
      margin-top: 20px;
    }
  }

  h4 {
    font-size: 25px;
    margin: 0;
  }
  h3 {
    font-size: 45px;
    font-weight: 900;
    line-height: 50px;
    margin: 0;
  }
  p {
    font-size: 20px;
  }
  img {
    border-radius: 10px;
    width: 500px;
    border: 4px solid white;
  }
}

.jobs {
  display: flex;
  justify-content: space-around;
}
.job {
  height: 400px;
  width: 400px;
  h2 {
    font-size: 25px;
    line-height: 25px;
    margin: 5px;
  }
  h3 {
    font-size: 20px;
    margin: 5px;
  }
  p {
    font-size: 18px;
  }
  .job-title {
    min-height: 120px;
  }
  .malogo {
    height: 50px;
    padding: 5px auto;
  }
  .hologo {
    height: 80px;
    margin: -15px auto;
  }
  .galogo {
    height: 40px;
    padding: 20px auto;
  }
}
.work-tech-specs {
  i {
    font-size: 40px;
    margin: 0 5px;
  }
}
#experience {
  margin-top: -100px;
  margin-bottom: -20px;
  .headings {
    padding-top: 60px;
    margin-top: 0;
  }
}
.interest {
  width: 80%;
  max-width: 1000px;
  margin: auto;

  p {
    max-width: 700px;
    font-size: 25px;
  }
  i {
    font-size: 100px;
  }
}
#interests {
  margin-top: -30px;
  padding-top: 10px;
  background-color: #0f2c09;
  color: white;
}
.headings {
  font-size: 70px;
}
.end {
  min-height: 300px;
  width: 100%;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  display: flex;
  align-items: end;
  justify-content: center;
}
.centerBox {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.endArrow {
  color: white;
  font-size: 80px;

  padding: 50px;
}
.endArrow:hover {
  transform: scale(1.1);
}

.paint:hover {
  transform: scale(1.1);
  background: -webkit-linear-gradient(
    rgba(71, 235, 246, 1) 24%,
    rgba(71, 246, 184, 1) 0%,
    rgba(246, 201, 71, 1) 49%,
    rgba(236, 60, 102, 1) 77%,
    rgba(152, 53, 154, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.earth:hover {
  transform: scale(1.1);
  background: -webkit-linear-gradient(
    rgba(71, 246, 184, 1) 0%,
    rgba(71, 235, 246, 1) 32%,
    rgba(37, 135, 7, 1) 69%,
    rgba(87, 56, 46, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media only screen and (max-width: 1150px) {
  .front-leaf {
    right: -20%;
    top: -20px;
    width: 80%;
  }
  .leaf-2 {
    left: 0;
    top: 0px;
    width: 60%;
  }
  .job {
    p {
      display: none;
    }
    .work-tech-specs {
      margin: 30px;
    }
    .hologo {
      margin: 0;
    }
    .galogo,
    .malogo {
      margin-top: 30px;
      height: 30px;
    }
  }
  .project {
    .project-text {
      width: 100%;
    }
    .each-project {
      flex-direction: column;
      text-align: center;

      p {
        font-size: 25px;
      }
    }
    img {
      width: 400px;
    }
  }
}

@media only screen and (max-width: 600px) {
  html {
    background: rgb(51, 178, 237);
    background: linear-gradient(
      90deg,
      rgba(51, 178, 237, 1) 0%,
      rgba(197, 255, 247, 1) 100%
    );
    overflow-x: hidden;
  }
  .title {
    line-height: 100px;
    h1 {
      margin: 0;
    }
  }
  #about {
    margin-top: 800px;
  }
  .contact div {
    margin: auto;
  }
  #about h2 {
    margin-bottom: 0;
  }
  .skills-icons {
    padding: 0;
  }
  #skills h2 {
    margin-top: 0;
  }
  .project-border {
    width: 190%;
  }
  .each-project {
    width: 90%;
    img {
      width: 100%;
    }
    span {
      display: none;
    }
    .link {
      width: 45%;
    }
  }
  .border-bottom {
    margin-top: -2px;
  }
  .jobs {
    flex-direction: column;
    align-items: center;
  }
  .job {
    background-color: #0f2c09;
    height: 220px;
    color: white;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
  }
  .galogo,
  .malogo {
    margin-top: 0 !important;
  }
  .work-tech-specs {
    display: none;
  }
  .background-images {
    display: none;
  }
  .phone-background {
    display: contents;
    overflow-x: hidden;
    width: 100%;
  }
  .interest {
    flex-direction: column;
  }
  .change-bg {
    width: 100%;
    height: 110vh;
  }
  .menu-bg {
    width: 110vh;
    top: -10%;
  }
}
